{% extends "main.html" %}

{% block container %}
<div class="md-content" data-md-component="content">
    <div class="md-content__inner">

    <header class="md-typeset">
        {{ page.content }}
    </header>

    <div class="md-typeset">
        <div class="news-grid cards">
            {% for post in posts %}
                <div class="card">
                    {% include "partials/news-item.html" %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if pagination %}
        {% block pagination %}
        {% include "partials/pagination.html" %}
        {% endblock %}
    {% endif %}
    </div>
</div>
{% endblock %}